*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    float: right;
    display: flex;
    padding: 20px;
    text-transform: capitalize;

}
nav{
  
    top: 0px;
    left: 0%;
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-between;
    }
    .navbar{
        display:flex;
        position: relative;
    }
    .navbar li {
        list-style: none;
    }
    .navbar a{
        color:white;
        text-decoration: none;
        margin-left: 30px;
        font-weight: bold;
        border: 2px solid red;
        border-radius: 4px;
        margin: 20px;
        padding: 10px;
        background-color: blue;
}
.btn0 a{
    background-color: red;
    
}
.btn a{
    color:white;
    text-decoration: none;
   margin: 10px;
    font-weight:600px;
    border: 2px solid red;
    border-radius: 4px;

    background-color: rgba(255, 0, 0, 0.663);
}
.btn{
    position: relative;
    padding-top: 10px;

}
nav .navbar li a:hover{
    color:white;
    background-color:red;

    }
    .accueil{
 
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(tof01.jpg);
        box-sizing: border-box;
        background-size: cover;
     }
    .text{
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-style: none;
        padding: 40px;
        letter-spacing: 4px;
        font-size: x-large;
    }
   
    h2{
        color: blue;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    .propos{
        text-align: center;
        margin:10px 30px 10px 30px;
        padding: 50px;
    }
    .imgpro{
        align-items: center;
        margin-left: 300px;
        margin-right: 10px;
        
    }
    .imgpro img{
        margin-right: 20px;
        border: 2px solid red;
        border-radius: 5px;
    }
    #apropos{
        padding: 40px;
    }
    .textpropos{
        padding: 10px;
    }
    .ecole img {
        display: inline-block;
        height: 200px;
        width: 250px;
        margin-left: 40px;
        border: 2px solid red;
        border-radius: 5px;
      }
      #campagnes{
        padding-top: 85px;
      }
      .container{
        max-width: 1200px;
        margin: auto;
        overflow: auto;

    }
    .photos{
        margin: 5px;
        border: 2px solid blue;
        border-radius: 6px;
        float: left;
        width: 390px;

    }
    .photos img{
        width: 100%;
        height: auto;
    }
    .photos:hover img{
        transform: scale(1.1);
    }
    
    .descript{
        padding: 15px;
        text-align: center;

        }
.titree{
    padding: 60px;
}

#CONTACT{
    padding: 160px;
}
#CONTACT form {
    display: inline-block;
    text-align: left;
    width: 40%;
    margin-left: 160px;
    padding: 20px;
    
  }
  

 

  #CONTACT form textarea {
    height: 120px;
    padding:10px;
    width: 100%;
    margin-bottom: 10px;
  }
  #CONTACT form button[type="submit"] {
    background-color:blue;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 20px;
    height: 10px;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}
  #text{
    border: 2px solid blue;
    border-radius: 5px;
    }
.logo img{
    margin: 40px;
    display: flex;
}
.reseau{
    display: flex;
    position: relative;
    padding-top: 40px;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.758);
    color: #fff;
    
    

}